<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:carousel="http://typo3.org/ns/Fab/NaturalCarousel/ViewHelpers">

	<f:layout name="Default"/>

	<f:section name="main">

		<f:if condition="{carousel:isIconsPartialAlreadyLoaded()}">
			<f:render section="Icons" partial="Icons"/>
		</f:if>

		<carousel:loadAssets/>

		<script type="text/javascript">
			window.naturalCarousels = window.naturalCarousels || [];

			var slideHeight = Number('{settings.slideHeight -> f:format.raw()}');
			var autoplay = Number('{settings.autoplay}');
			var loop = '{settings.loop}' == true;
			var slidesPerView = Number('{settings.slidesPerView}');
			var spaceBetween = Number('{settings.margin}');
			var speed = Number('{settings.speed}');
			var blur = '{settings.blur}' == true;
			var effect = '{settings.effect}';

			var naturalCarousel = {};
			naturalCarousel.slides = {carousel:slideStack()->f:format.raw()};

			naturalCarousel.options = {
				slideHeight: slideHeight,
				autoplay: autoplay,
				loop: loop,
				slidesPerView: slidesPerView,
				spaceBetween: spaceBetween,
				speed: speed,
				blur: blur,
				effect: effect
			};

			window.naturalCarousels.push(naturalCarousel);
		</script>

		<div class="swiper-container natural-carousel"></div>

	</f:section>

</html>
