<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:carousel="http://typo3.org/ns/Fab/NaturalCarousel/ViewHelpers">

	<f:layout name="Default"/>

	<f:section name="main">

		<f:if condition="{carousel:isIconsPartialAlreadyLoaded()}">
			<f:render section="Icons" partial="Icons"/>
		</f:if>

		<carousel:loadAssets/>

		<!-- Load CSS manually if assets are not loaded -->
		<f:asset.css identifier="swiper-css" src="EXT:natural_carousel/Resources/Public/StyleSheets/swiper.min.css" />
		<f:asset.css identifier="natural-carousel-css" src="EXT:natural_carousel/Resources/Public/StyleSheets/natural-carousel.min.css" />
		<f:asset.css identifier="natural-theme-css" src="EXT:natural_carousel/Resources/Public/StyleSheets/natural.css" />
		<f:asset.css identifier="master-css" src="EXT:natural_carousel/Resources/Public/StyleSheets/master.css" />



		<!-- Load JS -->
		<f:asset.script identifier="swiper-js" src="EXT:natural_carousel/Resources/Public/JavaScript/swiper.jquery.min.js" />
		<f:asset.script identifier="natural-carousel-js" src="EXT:natural_carousel/Resources/Public/JavaScript/natural-carousel.min.js" />
		<f:asset.script identifier="master-js" src="EXT:natural_carousel/Resources/Public/JavaScript/master.js" />

		<!-- Configure carousel after JS is loaded -->
		<script type="text/javascript">
						window.naturalCarousels = window.naturalCarousels || [];

			var slideHeight = Number('{settings.slideHeight -> f:format.raw()}');
			var autoplay = Number('{settings.autoplay}');
			var loop = '{settings.loop}' == true;
			var slidesPerView = Number('{settings.slidesPerView}');
			var spaceBetween = Number('{settings.margin}');
			var speed = Number('{settings.speed}');
			var blur = '{settings.blur}' == true;
			var effect = 'slide'; // Temporarily disable coverflow to see images

			var naturalCarousel = {};
			naturalCarousel.slides = {carousel:slideStack() -> f:format.raw()};

			naturalCarousel.options = {
				slideHeight: slideHeight,
				autoplay: autoplay,
				loop: loop,
				slidesPerView: slidesPerView,
				spaceBetween: spaceBetween,
				speed: speed,
				blur: blur,
				effect: effect,
				// Fix coverflow effect parameters
				coverflowEffect: {
					rotate: 50,
					stretch: 0,
					depth: 100,
					modifier: 1,
					slideShadows: true
				}
			};

			window.naturalCarousels.push(naturalCarousel);
		</script>

		<div class="swiper-container natural-carousel"></div>

	</f:section>

</html>
