<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:gallery="http://typo3.org/ns/Fab/AgileCarousel/ViewHelpers">

<f:layout name="Default"/>
<f:section name="main">

		<gallery:loadAssets/>
		<script type="text/javascript">
			window.carouselGalleries = window.carouselGalleries || [];

			var agileCarousel = {};
			agileCarousel.id = Number('{data.uid}');
			agileCarousel.images = {gallery:imageStack()};

			// Settings
			agileCarousel.autoReplay = Boolean('{settings.autoReplay}');
			agileCarousel.waitTime = Number('{settings.waitTime}');
			agileCarousel.loop = Boolean('{settings.loop}');
			agileCarousel.transitionTime = Number('{settings.transitionTime}');
			agileCarousel.freeMode = Boolean('{settings.freeMode}');
			agileCarousel.slidesPerView = Number('{settings.slidesPerView}');
			agileCarousel.margin = Number('{settings.margin}');

			// @todo : to implement
			agileCarousel.slideHeight = Number('{settings.slideHeight}');
			agileCarousel.format = '{settings.format}';
			agileCarousel.autoPlay = Boolean('{settings.autoPlay}');
			agileCarousel.showThumbnails = Boolean('{settings.showThumbnails}');
			agileCarousel.thumbnailHeight = Number('{settings.thumbnailHeight}');

			window.carouselGalleries.push(agileCarousel);
		</script>

		<div class="swiper-container" id="tx-agilecarousel-{data.uid}" data-galleryid="{data.uid}">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper"></div>
			<div class="swiper-pagination" id="swiper-pagination-{data.uid}"></div>
			<div class="swiper-button-prev" id="swiper-button-prev-{data.uid}"></div>
			<div class="swiper-button-next" id="swiper-button-next-{data.uid}"></div>
		</div>

</f:section>

</html>
