<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:gallery="http://typo3.org/ns/Fab/CarouselGallery/ViewHelpers">

<f:layout name="Default"/>
<f:section name="main">

	<div data-galleryid="{data.uid}" class="tx-carouselgallery" id="tx-carouselgallery-{data.uid}">

		<gallery:loadAssets/>
		<script type="text/javascript">
			window.carouselGalleries = window.carouselGalleries || [];

			var carouselGallery = {};
			carouselGallery.id = Number('{data.uid}');
			carouselGallery.images = {gallery:imageStack()};

			window.carouselGalleries.push(carouselGallery);
		</script>
		
	</div>

</f:section>

</html>
