<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:gallery="http://typo3.org/ns/Fab/CarouselGallery/ViewHelpers">

<f:layout name="Default"/>
<f:section name="main">

		<gallery:loadAssets/>
		<script type="text/javascript">
			window.carouselGalleries = window.carouselGalleries || [];

			var carouselGallery = {};
			carouselGallery.id = Number('{data.uid}');
			carouselGallery.images = {gallery:imageStack()};

			// Settings
			carouselGallery.autoReplay = Boolean('{settings.autoReplay}');
			carouselGallery.waitTime = Number('{settings.waitTime}');
			carouselGallery.loop = Boolean('{settings.loop}');
			carouselGallery.transitionTime = Number('{settings.transitionTime}');
			carouselGallery.freeMode = Boolean('{settings.freeMode}');
			carouselGallery.slidesPerView = Number('{settings.slidesPerView}');
			carouselGallery.margin = Number('{settings.margin}');

			// @todo : to implement
			carouselGallery.slideHeight = Number('{settings.slideHeight}');
			carouselGallery.format = '{settings.format}';
			carouselGallery.autoPlay = Boolean('{settings.autoPlay}');
			carouselGallery.showThumbnails = Boolean('{settings.showThumbnails}');
			carouselGallery.thumbnailHeight = Number('{settings.thumbnailHeight}');

			console.log(carouselGallery);
			window.carouselGalleries.push(carouselGallery);
		</script>

		<div class="swiper-container" id="tx-carouselgallery-{data.uid}" data-galleryid="{data.uid}">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper"></div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>

</f:section>

</html>
